<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopee.bank.newom.app.dao.UserTabMapper">
    <resultMap id="UserTabResultMap" type="com.shopee.bank.newom.app.bean.UserTab">
        <id column="id" jdbcType="BIGINT" property="id"></id>
        <result column="user_id" jdbcType="VARCHAR" property="userId"></result>
        <result column="user_type" jdbcType="TINYINT" property="userType"></result>
        <result column="user_name" jdbcType="VARCHAR" property="userName"></result>
        <result column="user_status" jdbcType="TINYINT" property="userStatus"></result>
        <result column="extra_info" jdbcType="VARCHAR" property="extraInfo"></result>
        <result column="row_version" jdbcType="BIGINT" property="rowVersion"></result>
        <result column="create_time" jdbcType="BIGINT" property="createTime"></result>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"></result>
    </resultMap>
    <sql id="UserTabColumns">
        id,user_id,user_type,user_name,user_status,extra_info,row_version,create_time,update_time
    </sql>
    <select id="Select" resultMap="UserTabResultMap" parameterType="java.lang.String">
        select
        <include refid="UserTabColumns"></include>
        from user_tab where user_id = #{userId,jdbcType=VARCHAR}
    </select>

</mapper>